body {

    color: rgb(255, 255, 255);
    background-color:rgb(242, 251, 255);
  }
  .jumbotron {
    background-image: url("../images/bacteria_blue.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: white;
  }
  #bubble {
    text-align: center;
    width: 1140px;
    height: 400px;
    background-position: center;
  }
  #gauge {
    text-align: center;
    background-color:rgb(27, 31, 36);
    width: 460px;
    height: 370px;
  }
  .container {
    background-color: rgb(27, 31, 36);
  }
  .well {
    color:rgb(27, 31, 36);
  }
  .panel-body {
    color:rgb(27, 31, 36);
  }